.nameBlk{
  margin: 5px;
}

.imageIcon {
  border-radius: 50%;
  max-width: 40%;
}

.imageBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
