.nameBlk{
  margin: 5px;
  font-size: 1.5em;
}

.ibMarket{
  font-size: 1.2em;
  font-style: italic;
}

.imageIcon {
  border-radius: 50%;
  max-width: 40%;
}

.imageBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

  button {
    font-size: 1.1em;
  }
}
