.summary-left h2 {
  font-size: 20px;
}

.summary-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  color: white;
  div {
    flex-grow: 0;
    flex-basis: 20%;
  }
  .summary-center {
    flex-grow: 0;
    flex-basis: 80%;
    height: 300px;
  }
}

@media all and (max-width: 1150px) {
  .summary-container {
    flex-wrap: wrap;
    div {
      flex: 1 1 100%;
    }
    .summary-center {
      flex: 1 1 100%;
    }
  }
}
