.frontContainer {
  overflow: hidden;
  height: 100%;
  padding: 0;
  display: flex;
  > div {
    flex: 1;
  }
}

.frontRight {
  background: linear-gradient(to bottom left, $dGradient, $lGradient);
  color: $white;
  fill: $white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frontLeft{
  background-color: $white;
  background: none;
}

.firstPageInfo {
  display: flex;
  width: 100%;
  p {
    text-align: center;
  }
}
