.liveTitle {
  width: 100%;
  height: 50px;
}

.gridTitle {
  color: white;
  font-size: 1.2em;
}

.gridTable {
  color: white;
  width: 100%;
  display: flex;
  font-size: 1.5em;
}

.currentResult {
  color: #82ca9d;
  font-weight: bold;
}

.gridRows span,
.gridRows {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  justify-content: flex-start;
  // align-items: center;
  color: white;
}

.grid-enter {
  opacity: 0.01;
}

.grid-enter.grid-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.grid-leave {
  opacity: 1;
}

.grid-leave.grid-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.gridColumns,
.gridTitle {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  :nth-child(1),
  :nth-child(4) {
    flex-basis: 10%;
  }
  :nth-child(2),
  :nth-child(3) {
    flex-basis: 40%;
  }
}

.notiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notiLeft,
.notiRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
