.dash-container {
  fill: $white;
  padding-top: 40px;
  border: 1px solid transparent;
  background-color: $background;
}

.first-row,
.second-row {
  margin-top: 30px;
}

.mainContainer {
  height: 100%;
}

.chartContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    flex-grow: 0;
    flex-basis: 30%;
  }
  .fifteenDayChart {
    flex-grow: 0;
    flex-basis: 66%;
  }
}

@media all and (max-width: 1150px) {
  .chartContainer {
    flex-wrap: wrap;
    div,
    .fifteenDayChart {
      flex-grow: 1;
      flex-basis: 100%;
      margin: 10px;
    }
  }
}

.uk-notification-message {
  border-radius: 30px;
  color: $background;
}
