.liveItem {
  font-size: 30px;
}
.up {
  color: green;
}
.down {
  color: red;
}
.conversion {
  font-size: 12px;
}

.current h1 {
  font-size: 20px;
}

.current h2 {
  font-size: 14px;
  margin: 4px;
}
