.liveItem {
  font-size: 18px;
}

#arrow-up {
  color: $green;
}
#arrow-down {
  color: $orange;
}
.conversion {
  font-size: 16px;
}

.current h1 {
  font-size: 20px;
}
.price {
  font-size: 20px;
}
.toPrice {
  padding-left: 4px;
  font-size: 10px;
}
