.notificationLabel {
  display: flex;
  justify-content: space-between;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: $background;
  color: $black;
}

.uk-logo {
  color: $main;
  font-weight: bold;
  min-height: 0px;
}

.navbar-container {
  background-color: $main;
  color: $main;
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar-container.dash {
  background-color: $main;
  display: flex;
  align-items: center;
  color: $white;
  height: 80px;

  .uk-logo {
    color: $white;
  }
}

@media all and (max-width: 600px) {
  .navbar-container {
    flex-wrap: wrap;

    div {
      flex: 1 1 100%;
    }

    .navbar-right {
      margin: 20px;
    }
  }
}

.notification-title {
  text-align: center;
}

.notification-block {
  width: 100%;
}

.navbar-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar-right {
  margin-right: 100px;
  width: 100px;
}

.navbar-hide {
  display: none;
}

.header-logo {
  height: 40px;
}