.frontContainer {
  overflow: hidden;
  height: calc(100% - 80px);
  padding: 0;
  display: flex;
  > div {
    flex: 1;
  }
}

.frontViewArea {
  position: relative;
  color: $white;
  // background: #000 url(images/chart.svg) no-repeat;
  // background-size: contain;
  // opacity: 0.75;
  background-color: #000;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .titleArea {
    margin-right: 30px;
  }
}

.frontViewArea::before {    
  content: "";
  background-image: url(images/chart.svg);
  
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.titleArea > button {
  font-size: 1.8em;
}

#curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#curve path {
  fill: #fff;
}

.titleArea {
  z-index: 1;
  h2 {
    font-size: 2em;
    font-weight: 500;
  }
  ul {
    font-size: 1.5em;
    font-weight: 200;
    // color: #dddddd;
  }
}
