.frontContainer {
  background: #422168;
  overflow: hidden;
  position: relative;
  padding: 0;
  > div {
    flex: 1;
  }
}

.topFront {
  position: relative;
  color: $white;
  height: 70vh;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .titleArea {
    margin-right: 30px;
    flex: 1 1 50%;
  }

  .frontImage {
    flex: 1 1 50%;
    img {
      border-style: solid;
      border-width: 5px;
      border-radius: 5px;
      width: 95%;
    }
  }
}

@media all and (max-width: 900px) {
  .titleArea, .frontImage {
    flex: 1 1 100%;
    padding-top: 50px;
  }
 .topFront {
   flex-wrap: wrap;
   height: auto;
 }
}

.titleArea > button {
  font-size: 1.8em;
}

#curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#curve path {
  fill: #fff;
}

.titleArea {
  z-index: 1;
  h2 {
    font-size: 2em;
    font-weight: 500;
  }
  ul {
    font-size: 1.5em;
    font-weight: 200;
    // color: #dddddd;
  }
}

.frontInfo {
  display: flex;
  color: rgb(131, 110, 110);
  padding-top: 80px;
  div {
    flex: 1 1 50%;
  }
  h1 {
    color: black;
  }
}
