.dash-container {
  background-color: $dashBackground;
}

.recharts-text {
  color: $dashText;
  fill: $dashText;
}

.chartContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $dashBackground;
  .info-block {
    flex-grow: 1;
    flex-basis: 30%;
    background-color: $dashBackground;
  }
  .fifteenDayChart {
    flex-grow: 0;
    flex-basis: 66%;
  }
}

@media all and (max-width: 1150px) {
  .chartContainer .info-block {
    flex-basis: 50%;
  }
}

@media all and (max-width: 900px) {
  .chartContainer .info-block {
    flex-basis: 100%;
  }
}
