// base settings

html,
body,
#root {
  height: 100%;
  color: $textColor;
}

h1,
h2 {
  color: $textColor;
}

.blockTitle {
  text-align: center;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  background: $boxColor;
  margin: 10px;
  @include border-radius(10px);
  opacity: 0.8;
  height: 300px;
}
