$black: #292a2b;
$background: #0F1213;
$dGradient:#425E9D;
$lGradient:#75BBD4;
$boxColor: #2A2A2A;
$textColor: #E1E1E1;
$white: #F7FDFF;
$select: #19578a;
$selectText: #8092c4;

// chart colors
$chartBlue: #00B5FF;
$chartGold: #E9C92F;