$black: #292a2b;
$baseBlue: #0058CC;
$background: #0058CC;
$dGradient:#0058CC;
$lGradient:#0058CC;
$boxColor: #0058CC;
$textColor: #F7FDFF;
$white: #F7FDFF;
$select: #19578a;
$selectText: #8092c4;
$green: #29A02A;
$orange: #FE7F0E;

// chart colors
$chartBlue: #1F78B4;
$chartGold: #E9C92F;