$black: #292a2b;
// $baseBlue: #0058cc;
// $altBlue: #00b5ff;
$background: #0058cc;
// $dGradient: #0058cc;
// $lGradient: #0058cc;
// $boxColor: #0058cc;
$textColor: #f7fdff;
// $select: #19578a;
$selectText: #8092c4;
// $green: #29a02a;
$orange: #fe7f0e;
// $greyText: #545454;
$grayBlue: #34495e;
// $aquaBlue: #3cddf1;
$main: #2980b9;
$mainText: #545454;
$white: #f7fdff;
$dashBackground: #ecf0f1;
$dashText: #292a2b;

// // chart colors
// $chartBlue: #1f78b4;
// $chartGold: #e9c92f;
