.dash-container {
  background: linear-gradient(to bottom left, #425E9D, #75BBD4);
  color: #F7FDFF;
  padding-top: 20px; }

.info-block {
  background: #5271A7;
  padding: 5px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  opacity: .8; }

h1 {
  margin-top: 5px; }

.first-row,
.second-row {
  margin-top: 30px; }

.summary {
  height: 150px; }

.navbar-default {
  background: #292a2b;
  border-color: #292a2b;
  border-radius: 0;
  margin-bottom: 0; }

.optionTitle {
  color: #F7FDFF;
  background: #19578a; }

.optionSelections {
  color: #8092c4;
  background: #19578a; }

.form-control {
  color: #F7FDFF;
  background: #19578a;
  border-color: #19578a; }
