.dash-container {
  background: linear-gradient(to bottom left, #425E9D, #75BBD4);
  color: #F7FDFF;
  fill: #F7FDFF;
  padding-top: 20px; }

.info-block {
  background: #5271A7;
  padding: 5px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8; }

h1 {
  margin-top: 5px; }

.first-row,
.second-row {
  margin-top: 30px; }

.summary-left h2 {
  font-size: 14px; }

.summary-right h1 {
  font-size: 28px; }

.summary-block {
  height: 260px;
  background: #5271A7;
  padding: 5px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8; }

.navbar-default {
  background: #292a2b;
  border-color: #292a2b;
  border-radius: 0;
  margin-bottom: 0; }

.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  height: 35px; }

.navbar {
  min-height: 35px !important; }

.navbar-brand {
  color: #F7FDFF; }

.optionTitle {
  color: #F7FDFF;
  background: #19578a; }

.optionSelections {
  color: #8092c4;
  background: #19578a; }

.form-control {
  color: #F7FDFF;
  background: #19578a;
  border-color: #19578a; }

.liveItem {
  font-size: 18px; }

#arrow-up {
  color: green; }

#arrow-down {
  color: red; }

.conversion {
  font-size: 16px; }

.current h1 {
  font-size: 20px; }

.price {
  font-size: 20px; }

.toPrice {
  padding-left: 4px;
  font-size: 10px; }

.lineChart h1 {
  font-size: 20px; }
