.navbar-default {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  }

  .navbar.navbar-default{
    border: 1px solid transparent;
  }
  
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 35px;
}
.navbar {min-height:35px !important;}
.navbar-brand { color: #F7FDFF}

.uk-navbar-right{
  margin-right: 20px;
}