
.uk-navbar-right{
  margin-right: 20px;
}

.notificationLabel {
  display: flex;
  justify-content: space-between;

}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: $background;
  color: $textColor;
}

.uk-logo {
  color: $textColor;
}

